@using RentOfWorkshopsCore.DBConnection
@using RentOfWorkshopsCore.DBContext
@using RentOfWorkshopsWEB.Shared.Modals
@using RentOfWorkshopsWEB.Shared
@using RentOfWorkshopsWEB.Shared.Modals.Registration
@using RentOfWorkshopsWEB.Shared.NavPanel
@inherits LayoutComponentBase
@inject UserContext UserContext

<div class="page">
    <div class="main">
        <NavigationComponent/>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


