@using RentOfWorkshopsCore.DBConnection
@using RentOfWorkshopsCore.DBContext
@using RentOfWorkshopsWEB.Shared.Modals
@using RentOfWorkshopsWEB.Shared
@using RentOfWorkshopsWEB.Shared.Modals.Registration
@inherits LayoutComponentBase
@inject UserContext UserContext

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            @if(UserContext.User.RoleId == 1 || UserContext.User.RoleId == 2)
            {
                <button class="btn btn-secondary" @onclick=SignOutBtnClicked>Sign out</button>
            }
            else
            {
                <button class="btn btn-primary" @onclick=SignInBtnClicked>Sign in</button>
                <button class="btn btn-secondary" @onclick=SignUpBtnClicked>Sign up</button>
            }
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<AuthComponent UserCallback=GetUser @ref="_authComponent"/>
<RegistrationComponent @ref="_regComponent"/>

@code {
    private AuthComponent _authComponent;
    private RegistrationComponent _regComponent;

    private void SignInBtnClicked()
    {
        _authComponent.Open();
    }  

    private void SignUpBtnClicked()
    {
        _regComponent.Open();
    }

    private void SignOutBtnClicked()
    {
        UserContext.User = SQLConnection.GetGuest();
    }
    
    private void GetUser(User user)
    {
        UserContext.User = user;
    }
}

