@using RentOfWorkshopsCore.DBContext

@inject SpaceCollection SpaceCollection

<div class="nav-divisions-division" @onclick=OnClick>
    @TypeOfSpace.Name
</div>

@code {
    [Parameter]
    public TypeOfSpace TypeOfSpace { get; set; }

    private void OnClick()
    {
        SpaceCollection.TypeOfSpaceId = TypeOfSpace.Id;
        SpaceCollection.UpdateList();
    }
}

