@using RentOfWorkshopsCore.DBConnection
@using RentOfWorkshopsCore.DBContext
@using RentOfWorkshopsWEB.Shared.Modals
@using RentOfWorkshopsWEB.Shared.Modals.Registration
@inject UserContext UserContext
@inject NavigationManager NavigationManager
<div class="nav">
    <div/>
    <div class="nav-panel">
        <div class="nav-logo">
            <div>
                <img class="logo" src="images/mainlogo.png" @onclick="LogoClicked"/>
            </div>
        </div>
        <div class="nav-divisions">
            @foreach(var division in SQLConnection.GetAllTypesOfSpace())
            {
                <DivisionComponent TypeOfSpace=division @key=division.GetHashCode()/>
            }
        </div>
        <div class="nav-buttons">
            @if(UserContext.User.RoleId == 1 || UserContext.User.RoleId == 2)
            {
                <button class="nav-button" @onclick=SignOutBtnClicked>Sign out</button>
            }
            else
            {
                <button class="nav-button" @onclick=SignInBtnClicked>Sign in</button>
                <button class="nav-button" @onclick=SignUpBtnClicked>Sign up</button>
            }
        </div>
    </div>
    <div/>
</div>
<AuthComponent UserCallback=GetUser @ref="_authComponent"/>
<RegistrationComponent @ref="_regComponent"/>

@code {
    private AuthComponent _authComponent;
    private RegistrationComponent _regComponent;

    private void SignInBtnClicked()
    {
        _authComponent.Open();
    }  

    private void SignUpBtnClicked()
    {
        _regComponent.Open();
    }

    private void SignOutBtnClicked()
    {
        UserContext.SignOut();
    }

    private void GetUser(User user)
    {
        UserContext.User = user;
    }

    private void LogoClicked()
    {
        NavigationManager.NavigateTo("");
    }

    private void SelectDivision(int id)
    {
        
    }
}
