@using RentOfWorkshopsCore.DBContext
@using RentOfWorkshopsCore.DBConnection

@inject SpaceCollection SpaceCollection

<div class="">
    @if(Spaces.Count != 0)
    {
        foreach(var space in Spaces)
        {
            <SpaceItemComponent Space=space @key=space.GetHashCode()/>
        }
    }
    else
    {
        <div style="display: flex; justify-content: center;">Ничего не найдено...</div>
           
    }
</div>

@code {
    [Parameter]
    public List<Space> Spaces { get; set; }
}
