@using RentOfWorkshopsCore.DBContext
@using RentOfWorkshopsCore.DBConnection

<div class="">
    @foreach(var space in Spaces)
    {
        <SpaceItemComponent Space=space/>
    }
</div>

@code {
    [Parameter]
    public List<Space> Spaces { get; set; }
}
