@using RentOfWorkshopsCore.DBContext
@using RentOfWorkshopsWEB.Shared.Modals.CityChoosing

@inject SpaceListFilter SpaceFilter

<div class="search">
    <div/>
    <div class="search-bar">
        <div class="search-bar-elements">
            <div class="search-bar-input">
                <input class="form-control search" @onchange=OnChange/>
            </div>
            <div class="order-by">
                <select>
                    <option>По возрастанию цены</option>
                    <option>По убыванию цены</option>
                </select>
            </div>
            <div class="is-busy">
                <label>Показывать занятые</label>
                <input type="checkbox" class="form-check-input" />
            </div>
        </div>
        
        <div class="choose-city">
            <button class="choose-city-btn" @onclick="OnCityBtnClick">
                @if(SpaceFilter.City != null)
                {
                    @SpaceFilter.City.Name;
                }
                else
                {
                    <p>Все</p>
                }
            </button>
        </div>
    </div>
    <div/>
</div>

<ChooseCityModalComponent OnCityChooseCB=ChooseCity @ref=_chooseCity />

@code {
    private ChooseCityModalComponent _chooseCity;

    private void OnChange(ChangeEventArgs e)
    {
        SpaceFilter.SearchString = e.Value.ToString();
    }

    private void ChooseCity(City city)
    {
        SpaceFilter.City = city;
    }

    private void OnCityBtnClick()
    {
        _chooseCity.Open();
    }
}
