@using RentOfWorkshopsCore.DBContext
@using RentOfWorkshopsWEB.Shared.Modals.CityChoosing

@inject SpaceCollection SpaceCollection

<div class="search">
    <div/>
    <div class="search-bar">
        <div class="search-bar-elements">
            <div class="search-bar-input">
                <input class="form-control search" @oninput=OnInput/>
            </div>
            <div class="order-by">
                <select class="form-control form-control-sm" @onchange=SelectOnChange>
                    <option selected value="1">По популярности</option>
                    <option value="2">По возрастанию цены</option>
                    <option value="3">По убыванию цены</option>
                </select>
            </div>
            <div class="is-busy">
                <label>Показывать занятые</label>
                <input type="checkbox" class="form-check-input" @onchange=CheckBoxChecked/>
            </div>
        </div>
        
        <div class="choose-city">
            <button class="choose-city-btn" @onclick="OnCityBtnClick">
                @if(SpaceCollection.City != null)
                {
                    @SpaceCollection.City.Name;
                }
                else
                {
                    <p>Все</p>
                }
            </button>
        </div>
    </div>
    <div/>
</div>

<ChooseCityModalComponent OnCityChooseCB=ChooseCity @ref=_chooseCity />

@code {
    private ChooseCityModalComponent _chooseCity;

    private void OnInput(ChangeEventArgs e)
    {
        SpaceCollection.SearchString = e.Value.ToString();
        SpaceCollection.UpdateList();
    }

    private bool _showAll = false;

    private void ChooseCity(City city)
    {
        SpaceCollection.City = city;
    }

    private void OnCityBtnClick()
    {
        _chooseCity.Open();
    }

    private void SelectOnChange(ChangeEventArgs e)
    {
        SpaceCollection.OrderBy = Convert.ToInt32(e.Value);
        SpaceCollection.UpdateList();
    }

    private void CheckBoxChecked(ChangeEventArgs e)
    {       
        SpaceCollection.ShowAll = Convert.ToBoolean(e.Value);
        SpaceCollection.UpdateList();
    }
}
