@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');


html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.space-image{
    width: 160px;
    margin: 30px;
    border-radius: 5px;
}

.space-item {
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    justify-content: space-between;
    font-size: small;
    border: solid;
    border-color: silver;
    border-radius: 4px 4px;
    border-width: 1px 2px 1px 2px;
    box-shadow:none;
    transition: box-shadow .2s;
}

    .space-item:hover
    {
        box-shadow: 0 0 3px 1px silver;
    }

.secondary-info{
    font-size:smaller;
    margin: 0px;
    padding: 0px;
}

p.secondary-info {
    margin: 0px;
    padding: 0px;
}

.current-space-image{
    width: 500px;
}

.space-item-title{
    font-size: medium;
    color: black;
    transition: color .2s;
    cursor: pointer;
}

    .space-item-title:hover {
        color: #8b00ff;
    }

.address{
    display: flex;
    flex-direction: row;
}

.nav-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #8b00ff;
    box-shadow: 0 0 2px 1px;
    margin: 0px;
}

.nav-logo {
    margin: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo {
    width: 100px;
}

.nav-divisions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

.nav-divisions-division{
    margin: 10px;
    cursor: pointer;
    font-size: 12px;
    color: white;
    transition: color .1s;
}
    .nav-divisions-division:hover {
        color: #ede1ed;
    }

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-button {
    margin: 10px;
    border: solid;
    border-width: 1px;
    border-color: transparent;
    border-radius: 5px;
    background-color: #fde910;
    width: 90px;
    height: 30px;
    font: normal small Arial;
    color: #8b00ff;
    transition: background-color .2s, border-color .4s;
}

    .nav-button:hover {
        background-color: #fcf172;
        border-color: #fde910;
    }

.search-bar-orderby-filter
{
    display: flex;
    flex-direction: row;
}